.burger-menu-styles {
  background-color: #676565;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.burger-menu-styles h2 {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  margin-bottom: 0.1rem !important;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 2.11rem;
  height: 1.742rem;
  left: 0.5rem;
  top: 0.7rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: grey;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2rem 0.5rem 0;
  font-size: 1.15em;
  display: flex;
  justify-content: center;
}

.bm-menu-wrap {
  /* Fix sidebar position */
  left: -0%; 
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin: 0.4rem 0;
  color: white;
}

.menu-item:focus {
  outline: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  right: -0%;
}

.search-input {
  @apply my-1 text-black text-center text-sm;
  height: min-content;
  align-self: center;
  resize: none;
}

.search-button {
  @apply my-1;
}

.search-icon {
  @apply text-white;
  font-size: 3rem;
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}